
<div class="jumbotron text-center center-block">
    <div class="container menu">
        <div class="row">
            <div class="col-md-4">
                <a class="menu-buttons">
                   <span class="drugs-check"></span>
                      <h2>{{'INDEX.DRUGS' | translate}}</h2>
                </a>
            </div>
            <div class="col-md-4">
                <a>
                    <span class="halty-test"></span>
                    <h2>{{'INDEX.ANALYSIS' | translate}}</h2>
                </a>
            </div>
            <div class="col-md-4">
                <a>
                    <span class="halti-tracker"></span>
                    <h2>{{'INDEX.HEALTHTRACKER' | translate}}</h2>
                </a>
            </div>

        </div>


    </div>

</div>

<main class="container-fluid text-center center-block">
    <section class="check-insurance">
        <div class="container">
            <div class="row" >
                <div class="col-md-6">
                    <h2>{{'INDEX.CHECKINSURANCE' | translate}}</h2>
                    <div class="input-group">
                        <input type="text" class="form-control disabe-border-raduis">
                      <span class="input-group-btn">
                        <button class="btn btn-background" type="button"></button>
                      </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <h2>{{'INDEX.CHECKDOCTORREGISTRATION' | translate}}</h2>
                    <div class="input-group">
                        <input type="text" class="form-control disabe-border-raduis">
                      <span class="input-group-btn">
                        <button class="btn btn-background" type="button"></button>
                      </span>
                    </div>
                </div>
            </div>
            <div class="row arrow-down">
                <div class="col-md-12">
                    <a> <span class="glyphicon glyphicon-chevron-down" ></span></a>
                </div>
            </div>
        </div>
    </section>

    <section class="team text-center center-block">
      <div class="container">
          <div class="row">
              <h2>ECHIPA NOASTRA</h2>
              <span>Suntem ceiia ce facem</span>
          </div>
          <div class="row menu">
              <div class="col-md-2 col-md-offset-1 form-group">

                          <img class="img-circle circular" src="/img/av-19392.gif">


                  <h3>JORIK JORIK</h3>
                  <h6>Marketer</h6>
                     <a><img src="img/twitter-icon.png"></a>
                     <a><img src="img/facebook-icon.png"></a>
                     <a><img src="img/pinterest-icon.png"></a>

              </div>
              <div class="col-md-2 form-group">

                  <img class="img-circle circular" src="/img/av-19392.gif">

                  <h3> JORIK JORIK</h3>
                  <h6>Marketer</h6>
                      <a><img src="img/twitter-icon.png"></a>
                      <a><img src="img/facebook-icon.png"></a>
                      <a><img src="img/pinterest-icon.png"></a>
              </div>
              <div class="col-md-2 form-group">

                  <img class="img-circle circular" src="/img/av-19392.gif">

                  <h3> JORIK JORIK</h3>
                  <h6>Marketer</h6>
                      <a><img src="img/twitter-icon.png"></a>
                      <a><img src="img/facebook-icon.png"></a>
                      <a><img src="img/pinterest-icon.png"></a>
              </div>
              <div class="col-md-2 form-group">

                  <img class="img-circle circular" src="/img/av-19392.gif">

                  <h3> JORIK JORIK</h3>
                  <h6>Marketer</h6>
                      <a><img src="img/twitter-icon.png"></a>
                      <a><img src="img/facebook-icon.png"></a>
                      <a><img src="img/pinterest-icon.png"></a>
              </div>
              <div class="col-md-2 form-group">

                  <img class="img-circle circular" src="/img/av-19392.gif">

                  <h3> JORIK JORIK</h3>
                  <h6>Marketer</h6>
                      <a><img src="img/twitter-icon.png"></a>
                      <a><img src="img/facebook-icon.png"></a>
                      <a><img src="img/pinterest-icon.png"></a>
              </div>

          </div>

          <div class="row motto">
              <p>Daca nu ai cu cine be suna !!! sau scrie  </p>
          </div>

      </div>
    </section>
    <section class="contacts">
        <div class="container">
            <div class="row">
               <h1>CONTACTEAZA-NE</h1>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input class="form-control input-lg disabe-border-raduis" type="text" placeholder="Numele*">
                    </div>
                    <div class="form-group">
                        <input class="form-control input-lg disabe-border-raduis" type="text" placeholder="Email*">
                    </div>
                    <div class="form-group">
                        <input class="form-control input-lg disabe-border-raduis" type="text" placeholder="Tema Mesajului">
                    </div>

                </div>
                <div class="col-md-6">
                    <textarea class="form-control disabe-border-raduis" rows="7"></textarea>
                </div>
            </div>
            <div class="row" style="height: 50px;">
                <div class="col-md-1 col-md-offset-11 ">
                    <button class="btn btn-send disabe-border-raduis form-group" >Trimite</button>
                </div>
            </div>

        </div>
    </section>


 </main>

